*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #4c4177;
    background-image: linear-gradient(315deg,#4c4177 0%,#2a5470 74%);
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
    position: absolute;
    top: -40px;
    transform: scale(1.5);
}
.loader{
    height: 25px;
    width: 1px;
    position: absolute;
    animation: rotate 4s linear infinite;
}
.loader .dot{
    height: 8px;
    width: 8px;
    background-color: #fafaf9;
    border-radius: 50%;
    position: relative;
    top: 30px;
}

.text{
    position: absolute;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #fafaf9;
}

@keyframes rotate{
    30%{
        transform: rotate(220deg);
    }
    40%{
        transform: rotate(450deg);
        opacity: 1;
    }
    75%{
        transform: rotate(720deg);
        opacity: 1;
    }
    76%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: rotate(450deg);
    }
}

.loader:nth-child(1){
    animation-delay: 0.15s;
}
.loader:nth-child(2){
    animation-delay: 0.3s;
}
.loader:nth-child(3){
    animation-delay: 0.45s;
}
.loader:nth-child(4){
    animation-delay: 0.6s;
}
.loader:nth-child(5){
    animation-delay: 0.75s;
}
.loader:nth-child(6){
    animation-delay: 0.9s;
}